/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.header-logo {
  font-size: 1.75rem;
}

.header-nav-link {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 300;
}

.current-page {
  font-weight: 500;
}

.splash-slogan,
.splash-location {
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 300;
}

.splash-title {
  font-size: 3rem;
}

.splash-btn {
  letter-spacing: 2px;
  font-weight: 500;
}

.about-us-sub-title {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif
}

.about-us-txt {
  line-height: 1.8;
}

/* splash */

.splash {
  background-image: url(./img/splash-img.jpg);
  background-position: center;
  background-size: cover;
  background-color: #777777;
  background-blend-mode: multiply;
  padding: 3em .5em 2em .5em;
  color: #ffffff;
  flex-direction: column;
  text-align: center;
}

.splash-header {
  flex-direction: column;
  align-items: center;
}

.header-nav {
  margin-block: 1em;
}

.header-nav-link {
  margin-inline: 1em;
  border-bottom: 1px solid transparent;
  transition: .5s;
}

.header-nav-link:hover,
.header-nav-link:focus {
  border-bottom: 1px solid #ffffff;
}

.current-page {
  border-bottom: 1px solid #ffffff;
}

.splash-slogan {
  margin-top: 5em;
}

.splash-title {
  margin-block: .25em;
}

.splash-location {
  margin-bottom: 5em;
}

.splash-btn {
  margin-bottom: 1em;
  color: #5ac5b7;
  border: 2px solid #3ea89a;
  padding: .5em 4em;
  border-radius: 3px;
  transition: .5s;
  cursor: pointer;
}

.splash-btn:hover,
.splash-btn:focus {
  background-color: #3ea89a;
  color: #ffffff;
}

/* section-one */

.about-us {
  background-image: url(./img/blue-snow.webp);
  background-color: #4fbbac;
  background-blend-mode: multiply;
  text-align: center;
  color: white;
  padding: 3em 1em 2em 1em;
}

.about-us-title {
  margin-top: 1em;
}

.bottom-border {
  border-bottom: 3px solid white;
  width: 40px;
  padding: 1px;
  display: block;
  margin-inline: auto;
  margin-block: 1em;
}

.about-us-txt {
  max-width: 500px;
  margin-inline: auto;
}




































